Repository foray1010/web-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix

.lintstagedrc.yml:

'*.{html,json,md,yaml,yml}':
  - 'prettier-eslint --write'
  - 'git add'
'*.{js,ts}':
  - 'prettier-eslint --write'
  - 'eslint --fix'
  - 'git add'

chore: use import-sort
  .importsortrc.yml
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: prettier-eslint --write

chore: mark *.ts as JavaScript in .gitattributes
  .gitattributes
Due: none

build: config css bundling
  rollup.config.js
  src/App.html
  src/components/App.html
  src/index.ts
  tsconfig.json
Due: prettier-eslint --write, eslint --fix

fixup! build: config css bundling
  rollup.config.js
  tsconfig.json
Due: prettier-eslint --write, eslint --fix

build: config css bundling (#17)
  rollup.config.js
  src/App.html
  src/components/App.html
  src/index.ts
Due: prettier-eslint --write, eslint --fix

fix: babel does not transpile
  rollup.config.js
Due: prettier-eslint --write, eslint --fix

chore: mark *.ts as JavaScript in .gitattributes (#15)
  .gitattributes
Due: none

chore(type-check): disallow features emiting cross-file information
  tsconfig.json
Due: prettier-eslint --write

chore: add manual svelte types
  .eslintignore
  src/types/svelte-shim.d.ts
  src/types/svelte.d.ts
Due: prettier-eslint --write, eslint --fix

chore: add two babel plugins to understand ts
  package-lock.json
  package.json
Due: prettier-eslint --write

chore: update tsconfig to use manual types
  src/index.ts
  tsconfig.json
Due: prettier-eslint --write, eslint --fix

chore: use postcss with postcss-preset-env
  package-lock.json
  package.json
  rollup.config.js
  src/components/App.html
Due: prettier-eslint --write, eslint --fix

chore: remove unnecessary babel plugins
  package-lock.json
  package.json
Due: prettier-eslint --write

chore: add manual svelte ts support (#21)
  .eslintignore
  package-lock.json
  src/index.ts
  src/types/svelte-shim.d.ts
  src/types/svelte.d.ts
  tsconfig.json
Due: prettier-eslint --write, eslint --fix

chore(type-check): disallow features emiting cross-file information (#20)
  tsconfig.json
Due: prettier-eslint --write

chore: use postcss with postcss-preset-env (#22)
  package-lock.json
  package.json
  rollup.config.js
  src/components/App.html
Due: prettier-eslint --write, eslint --fix

chore(dev): add minimal setup for plugin development
  manifest.json
  package-lock.json
  package.json
  rollup.config.js
Due: prettier-eslint --write, eslint --fix

ci: add circleci config
  .circleci/config.yml
  package.json
Due: prettier-eslint --write

chore(dev): add minimal setup for plugin development (#23)
  manifest.json
  package-lock.json
  package.json
  rollup.config.js
Due: prettier-eslint --write, eslint --fix

fixup! ci: add circleci config
  .circleci/config.yml
Due: prettier-eslint --write

chore: run babel for svelte script tag
  rollup.config.js
  src/components/App.html
  svelte.babel.preprocessor.js
Due: prettier-eslint --write, eslint --fix

ci: add circleci config (#24)
  .circleci/config.yml
  package.json
Due: prettier-eslint --write

chore: run babel for svelte script tag (#25)
  rollup.config.js
  src/components/App.html
  svelte.babel.preprocessor.js
Due: prettier-eslint --write, eslint --fix

chore: run lint on js files
  package.json
Due: prettier-eslint --write

ci: update npm cache location
  .circleci/config.yml
Due: prettier-eslint --write

Add renovate.json
  renovate.json
Due: prettier-eslint --write

chore: move renovate.json to .renovaterc.json
  .renovaterc.json
  renovate.json
Due: prettier-eslint --write

chore: update .renovaterc.json
  .renovaterc.json
Due: prettier-eslint --write

chore: run lint on js files (#26)
  package.json
Due: prettier-eslint --write

ci: update npm cache location (#29)
  .circleci/config.yml
Due: prettier-eslint --write

fix: dev scripts
  package-lock.json
  package.json
Due: prettier-eslint --write

fixup! fix: dev scripts
  package.json
Due: prettier-eslint --write

chore: move svelte to devDependencies
  package-lock.json
  package.json
Due: prettier-eslint --write

chore: update renovate config
  .renovaterc.json
Due: prettier-eslint --write

chore: update renovate config (#34)
  .renovaterc.json
Due: prettier-eslint --write

chore: move svelte to devDependencies (#35)
  package-lock.json
  package.json
Due: prettier-eslint --write

fixup! chore: support typescript in svelte html
  .babelrc
  package.json
  src/components/App.html
  svelte.typescript.preprocessor.js
Due: prettier-eslint --write, eslint --fix

chore: support typescript in svelte html
  .gitignore
  rollup.config.js
  svelte.typescript.preprocessor.js
  tsconfig.json
Due: prettier-eslint --write, eslint --fix
